@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #767A99;
}

.calculator {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-display {
    overflow: hidden;
    box-sizing: border-box;
    width: 30vw;
    padding: 20px;
    text-align: right;
    background-color: #333A58;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

#display {
    color: #fff;
    font-size: 4em;
    font-weight: 700;
}

.calculator-buttons {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}

.calculator-buttons div {
    box-sizing: border-box;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #333A58;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
}

.calculator-buttons div:hover {
    background-color: #767A99;
}

.calculator-buttons div.math-operators {
    background-color: #767A99;
    color: #fff;
    font-weight: 900;
}

.calculator-buttons div.math-operators:hover {
    background-color: #333A58;
}

.calculator-buttons div#clearButton {
    background-color: #AA2442;
    color: #fff;
    font-weight: 900;
}

.calculator-buttons div#clearButton:hover{
    background-color: #FF3764;
}

.calculator-buttons div#resultButton {
    background-color: #FF3764;
    color: #fff;
    font-weight: 900;
}

.calculator-buttons div#resultButton:hover{
    background-color: #AA2442;
}

.developer-area p, .developer-area p a{
    color: #fff;
}

.developer-area p a {
    font-weight: bold;
    color: #fff;

    /* text-decoration: none; */
}


@media (max-width: 768px) {
    .calculator-display {
        width: 90vw;
    }

    .calculator-buttons {
        width: 90vw;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .calculator-display {
        width: 60vw;
    }

    .calculator-buttons {
        width: 60vw;
    }
}